---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?urls=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DobuV1KrvEYo&key=6302cfbf429e4309b6235dbee0c051a1&maxheight=171&maxwidth=304
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Embedly-From-Cache:
      - '0'
      Etag:
      - '"3aaf82ccc1f0bb7aa028216228d81625577546dc"'
      X-Embedly-Process-Time:
      - '58'
      X-Embedly-Host:
      - api26
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://www.youtube.com/", "description": "Julie
        Delpy-A Walts for a Night (in Before Sunset)", "title": "Julie Delpy-A Walts
        for a Night (in Before Sunset)", "url": "http://www.youtube.com/watch?v=obuV1KrvEYo",
        "author_name": "avatar20072007", "height": 171, "thumbnail_width": 480, "width":
        228, "html": "<iframe width=\"228\" height=\"171\" src=\"http://www.youtube.com/embed/obuV1KrvEYo?feature=oembed\"
        frameborder=\"0\" allowfullscreen></iframe>", "author_url": "http://www.youtube.com/user/avatar20072007",
        "version": "1.0", "provider_name": "YouTube", "thumbnail_url": "http://i1.ytimg.com/vi/obuV1KrvEYo/hqdefault.jpg",
        "type": "video", "thumbnail_height": 360}]'
  recorded_at: Mon, 19 Aug 2013 13:27:26 GMT
recorded_with: VCR 2.5.0
