<h4 style="text-align:center; font-weight:bold; color:#808080;">KNOWS</h4>

<div class="text-right"><%= link_to "Invite a friend", new_user_invitation_path %></div>
<br>

<table class="table table-hover">
  <% @connections.each do |connection| %>
    <tr>
      <td style="backgroud-color:white">
        <%= connection.invitee.first_name  %> <%= connection.invitee.last_name  %>
      </td>
      <td>
        job title
      </td>
      <!--<td>
        <% unless connection.accepted? %>
          pending
        <%end%>
      </td>-->
    </tr>
  <% end %>
</table>
