My connections

<br/>

<%= link_to "Invite a friend", new_user_invitation_path %>
<br/>
<br/>

<table class="table table-striped table-bordered table-hover">
  <% @connections.each do |contact| %>
    <tr>
      <td>
        <%= contact.email %>
      </td>
    </tr>
  <% end %>
</table>
