<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome to WeRKD</title>

</head>
<body>
<div align="center">
  <img src="01.jpg" width="600" height="130" alt="WeRKD logo"/>
  <table width="600" border="0" cellpadding="60">
    <tr>
      <td>
        <p class="email" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #666;">It's Will,
          founder of <a href="http://www.werkd.net" style="text-decoration: none;color: #ff6600;">WeRKD</a>, and I am
          here to say hi and thanks for joining us. I hope you are excited about a professional network that's more
          about working, less about schmoozing!
        <blockquote>
          <p class="email2" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #ff6600;">
            <strong>At WeRKD we create meaningful professional connections through projects.</strong><br>
            <span class="email" style="font-family: Verdana, Geneva, sans-serif;color: #666;">We give ourselves credit for the work that we did. Add projects and events, tag yourself and your contacts - and naturally create a meaningful connections along the way without sending those awkward emails.</span>
          </p>

          <p class="email2" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #ff6600;">
            <strong>WeRKD is where our skills matter the most.</strong><br>
            <span class="email" style="font-family: Verdana, Geneva, sans-serif;color: #666;">What you do is what you are at WeRKD. Add skill tags on each projects to show exactly what you did. Now it's easy-breezy for people to find you based on your skills and experience.</span>
          </p>

          <p class="email2" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #ff6600;">
            <strong>WeRKD is where we create a networked portfolio to share.</strong><br>
            <span class="email" style="font-family: Verdana, Geneva, sans-serif;color: #666;">And each one of us get to personalize each project with one's own contribution and mementos. Sharing final product has never been so personal!</span>
          </p>
        </blockquote>
        </p>
        <p class="email" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #666;">That's it! Thanks
          again for being one of the first to join WeRKD and I hope you make some awesome connections, create a great
          archive of projects and get some sweet gigs.<br>
          Now, let's get to <a href="http://www.werkd.net" style="text-decoration: none;color: #ff6600;">WeRKD</a>!</p>

        <p class="email" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #666;">Cheers,</p>

        <p class="email" style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #666;">
          <strong>Will &amp; the team at WeRKD</strong></p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>


<%
   count = 0
   makers = 0
   User.where("created_at > ?", 2.days.ago).each do |u|
     if u.address.present?
       count = count +1
     end
     if u.skills.present?
       makers = makers + 1
     end
   end
%>
