<body style="background-color:#cccccc;">
<div align="center">
    <table width="550" border="0" cellpadding="0" cellspacing="0" >
  	<tr><td class="imagecell">
  		<a href="http://www.werkd.net" class="linknodecor"><%= image_tag "logos/email_header.jpg" %></a>
  	</td></tr>
    <tr>
    <tr>
      <td class="whitecell">
              <p class="body">
              <span class="bold">Hello <%=@user.communication_name%>,</span><br><br>
      	It's Will, founder of <a href="http://www.werkd.net" style="text-decoration: none;color: #ff6600;">WeRKD</a>, and I am writing to say hi and thanks for joining us. I hope you are excited about a professional network that's more about working,  less about schmoozing!</p>
      <blockquote>
        <p class="orange">At WeRKD we create meaningful professional connections through projects.<br>
          <span class="body">We give ourselves credit for the work that we did. Add projects and events, tag yourself and your contacts - and naturally create a meaningful connections along the way without sending those awkward emails.</span></p>
        <p class="orange">WeRKD is where our skills matter the most.<br>
          <span class="body">What you do is what you are at WeRKD. Add skill tags on each projects to show exactly what you did. Now it's easy-breezy for people to find you based on your skills and experience.</span></p>
        <p class="orange">WeRKD is where we create a networked portfolio to share.<br>
          <span class="body">And each one of us get to personalize each project with one's own contribution and mementos. Sharing final product has never been so personal!</span></p>
      </blockquote>
		<p class="body">That's it! Thanks again for being one of the first to join WeRKD and I hope you make some awesome connections, create a great archive of projects and get some sweet gigs.<br>
  Now, let's get to <a href="http://www.werkd.net" style="text-decoration: none;color: #ff6600;">WeRKD</a>!</p>
<p class="body" align="right">Cheers,</p>
<p class="bold" align="right">Will &amp; the team at WeRKD</p>
<br>
 </td>
    </tr>
    <tr>
    	<td height="50" bgcolor="#f0f0f0" style="padding-left:10px;">
    		<p class="bodysmall">If you don't want to accept the invitation, please ignore this email.<br/>
          Your account won't be created until you access the link above and set your password.
      	</p>
      </td>
      <tr>
  </table>
</div>
</body>





