<div class="">
  <h5>Or sign in with </h5>
  <%= link_to image_tag("login/google.png",
          title: "Google"), user_omniauth_authorize_path(:google_oauth2) %>
  <%= link_to image_tag("login/facebook.png",
          title: "Facebook"), user_omniauth_authorize_path(:facebook) %>
  <%= link_to image_tag("login/linkedin.png",
          title: "LinkedIn"), user_omniauth_authorize_path(:linkedin_oauth2) %>
</div>
