<div class="container">
  <div class="row orange-bg white" >
    <% if current_user %>
      <div class="usertitle">
      <h2 class="white">
        Hello, <%= current_user.public_name %>
    </h2>
    </div>
    <div class="span12">
      <div class="row-fluid">
        <div class="span5 offset1 well height-200 grey">
          <div style="font-size:large; color:black; font-style:bold">What's up?</div><br>
          <a href="http://www.werkd.net/users/9">Sungtae Will Kim</a> is at <a href="http://www.werkd.net/users/78">2x4</a> <span style="font-size:x-small">today</span><br>
          <a href="http://www.werkd.net/users/29">Bran Dougherty Johnson</a> added <a href="http://www.werkd.net/users/29#/projects/20">Pause and Think Online</a> <span style="font-size:x-small">today</span><br>
          <a href="http://www.werkd.net/users/67">Jade Kim</a> and <a href="http://www.werkd.net/users/73">SS+K</a> are now connected <span style="font-size:x-small">yesterday</span><br>
          <a href="http://www.werkd.net/users/9">Sungtae Will Kim</a> added <a href="http://www.werkd.net/users/dashboards#/projects/19">Midnight Moment</a> <span style="font-size:x-small">3 days ago</span><br>
        </div>
        <div class="span5 well height-200 grey" >
          <div style="font-size:large; color:black; font-style:bold">Gig Flash!</div><br>
          <a href="http://www.themill.com/careers/working-at-the-mill.aspx" target="blank">Freelance compositor @ The Mill NY</a> <span style="font-size:x-small">paid</span><br>  
          <a href="http://www.brandnewschool.com/About/Admissions"  target="blank">Designer / Animator @ Brand New School NY</a> <span style="font-size:x-small">paid</span><br> 
          Cinematographer @ Short film <span style="font-size:x-small">collab</span><br> 
          <a href="http://ssk.com/now-hiring/"  target="blank">Freelance Art Director @ SS+K</a> <span style="font-size:x-small">paid</span><br> 
          Designer @ Music video <span style="font-size:x-small">collab</span> 
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5 offset1 well height-200 grey ">
          Yes or No?<br><br>
          (Actions items like connection request and tag request appear here)
        </div>
        <div class="span5 well height-200 grey">
          Talk<br><br>
          (Messages from my connections show up in this box)
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
