<div class="span8 offset2">

  <% if current_user %>
    <div class="well">
      <h2>Hi, <%= current_user.first_name %></h2>
    </div>
  <% end %>

  <div class="well">
    A new professional networking platform that's more about working and less about schmoozing.
  </div>

  <span align="left"><%= image_tag "werkd.jpg" %></span>

</div>
