<h4 style="text-align:center; font-weight:bold; color:#808080;">KNOWS</h4>

<div class="text-right"><%= link_to "Invite a friend", new_user_invitation_path %></div>
<br>

<table class="table table-hover">
  <% @connections.each do |connection| %>
    <tr>
      <td style="text-align:left;">
        <%=link_to connection.public_name, user_path(connection)  %>
      </td>
      <td style="text-align:right;">
        <%= connection.job_title%>
      </td>
    </tr>
  <% end %>
</table>
