<div class="span8 offset2">

  <div class="usertitle">
    <h2>  <%= current_user.first_name %> <%= current_user.last_name %>
    </h2>
  </div>

  <%=render "projects"%>
  <%=render "contacts"%>

</div>

