<div class="row-fluid dashboard-max">
  <div class="span12">

    <%= render partial: "users/dashboards/personal_info", locals: { user: @user } %>
    <div class="container-fluid dashboard-max">

      <div class="span8 projects-well">
        <div>
          <%=render partial: "users/dashboards/projects"%>
        </div>
      </div>

      <div class="span4 grey-bg">
        <div>
          <%=render partial: "users/dashboards/contacts"%>
        </div>
      </div>

      </div>


  </div>
</div>
