<div class="row-fluid dashboard-max">
  <div id="main-content" class="span12">

    <%= render partial: "users/dashboards/personal_info", locals: { user: @user } %>
    <!--div class="container-fluid dashboard-max">

      <div class="span8 projects-well">
        <div>
          <%#=render partial: "users/dashboards/projects"%>
        </div>
      </div>

      <div class="span4 grey-bg">
        <div>
          <%#=render partial: "users/dashboards/contacts"%>
        </div>
      </div>

      </div>


  </div-->
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      user = new Werkd.Models.User(<%= @user_json.html_safe %>);
      window.user = user;
      dashboardView = new Werkd.Views.Users.DashboardView({model: user});
      window.dashboardView = dashboardView;
      $('#main-content').append(dashboardView.el);
      dashboardView.render();
    })
  </script>
<% end %>
