<div class="row-fluid dashboard-max">
  <div id="dashboard-content" class="span12" style="position">
    <%= render partial: "users/dashboards/personal_info", locals: { user: @user } %>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
  $(function() {
      currentUser = Werkd.Models.User.create(<%= @current_user_json.html_safe %>);
      user = Werkd.Models.User.create(<%= @user_json.html_safe %>);
      window.user = user;
      dashboardView = new Werkd.Views.Users.DashboardView({model: user, currentUser: currentUser});
      window.dashboardView = dashboardView;
      $('#dashboard-content').append(dashboardView.el);
      dashboardView.render();
    })
  </script>
<% end %>
