li{
  &.token-input-token {
    background-color: #ccc;
  }
}

div.token-input-dropdown {
  ul
  {
    li.token-input-selected-dropdown-item {
      background-color: #ccc;
    }
  }
}

ul.token-input-list {
  width: 100%;
}
