<h4 style="text-align:center; font-weight:bold; color:#808080;">WeRKD ON</h4>
<div class="text-right"><%= link_to 'New Project', new_users_project_path %></div>
<ul class="thumbnails">
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
<li>
  <a href="#"><img class "thumbnail" src="http://placekitten.com/400/225"></a>
</li>
</ul>
<br />


