#dashboard-content {
  position: relative;
}

.project-modal-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .row {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 400px;
    z-index: 100;
    background-color: #fff;
  }
}

.background-blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.50);
}


