
  <h3 class="text-center"> Let's invite people</h3>
  <h4 class="text-center">through your email contacts</h4>
<br>

<div class="span6 offset3 text-center">
  <div class="well text-center">
    <%= link_to image_tag("providers/email/google_64.png"), "/contacts/gmail", alt: "google" %>
    <%= link_to image_tag("providers/email/yahoo.png"), "/contacts/yahoo", alt: "yahoo" %>
    <br>
    other account coming soon!
  </div>
<h4>Know who you want to invite? <%= link_to "Invite by individual email", new_user_invitation_path %></h4>

<%=link_to "Skip", @done_link, class:"btn btn-primary"%>
</div>


