<div class="well">
  <h3>Import Contacts</h3>
</div>

<div class="well">
  We need some seeds to create meaningful connections for you
  <div>
    <%= link_to image_tag("providers/email/google_64.png"), "/contacts/gmail" %>
    <%= link_to image_tag("providers/email/yahoo.png"), "/contacts/yahoo" %>
  </div>
</div>
