
  <h3 class="text-center"> Let's invite more people</h3>
  <h4 class="text-center">through your email contacts</h4>
<br>

<div class="span6 offset3 text-center">
  <h4>Inviting people you professionally value = <i class="icon-thumbs-up"></i> <br>
  Inviting EVERYONE = <i class="icon-thumbs-down"></i><br>
  <br></h4>
  <div class="well text-center">
    <%= link_to image_tag("providers/email/google_64.png"), "/contacts/gmail", alt: "google" %>
    <%= link_to image_tag("providers/email/yahoo.png"), "/contacts/yahoo", alt: "yahoo" %>
    <br>
    other account coming soon!
  </div>
<h4>Know who you want to invite? <%= link_to "Invite by individual email", new_user_invitation_path %></h4>
  
</div>
