<div class="well">
  <h3>Import Contacts</h3>
</div>

<div class="well">
  Let's start by looking through your existing contacts and invite people you professionally value: People you worked with, people who might hire you, people you might hire. Unlike others, we do not recommend inviting EVERYONE.
  <div>
    <%= link_to image_tag("providers/email/google_64.png"), "/contacts/gmail", alt: "google" %>
    <%= link_to image_tag("providers/email/yahoo.png"), "/contacts/yahoo", alt: "yahoo" %>
  </div>
</div>
