
  <h3 class="text-center"> Let's invite more people</h3>
<br>

<div class="span6 offset3 text-center">
  <h4>Inviting people you professionally value = Good idea. <br>
  Inviting EVERYONE = BAD idea.<br>
  <br></h4>
  <div class="well text-center">
    <%= link_to image_tag("providers/email/google_64.png"), "/contacts/gmail", alt: "google" %>
    <%= link_to image_tag("providers/email/yahoo.png"), "/contacts/yahoo", alt: "yahoo" %>
  </div>
</div>
