@import "bootstrap_and_overrides";
@import "bootstrap-responsive";
@import "variables";
@import "backbone/dashboard";
@import "dashboard";
@import "homepage";
@import "global/_forms";

h2 {color:#3f3f3f;}

h3,h4 {color:#808080;}

h3 {line-height: 16px; font-size: 20px;}

.orange {
  color:#ff6633;
}

.white {
  color:white;
}

.grey {
  color:#808080;
}

.grey-bg {
  background-color: #eeeeee;
}

.orange-bg {
  background-color: #ff6633;
}

.height-200 {
  height: 200px;
}

.col{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}


.col-wrap{
  overflow: hidden;
}
