@import "bourbon";
@import "session/signup_login";

.homepage {

  font-family: ralewaymedium, Calibri, Candara, Arial, sans-serif;
  padding-top: 2em;

  color: white;
  h2, h3, h4, h5, h6 {
    color: white;
  }

  .werkd-logo {
    margin-bottom: 8em;
  }

  #distinctions {
    margin-top: 40px;
    padding: 2em 20px 20px 2em;
    background: $primary-color;

    h4 {
      font-family: oswaldregular, Calibri, Candara, Arial, sans-serif;
      font-size: 25px;
      line-height: 22px;
      letter-spacing: 0.3px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    p {
      font-family: ralewaymedium, Calibri, Candara, Arial, sans-serif;
      line-height: 18px;
      letter-spacing: 0.5px;
    }
  }

  #alternative-signup {

    padding-top: 25px;

    h5 {
      font-family: ralewayextralight, Calibri, Candara, Arial, sans-serif;
      color: $primary-color;
      font-size: 20px;
    }
  }

  #intro-video {
    &:hover {
      cursor: pointer;
    }

    h1 {
      color: grey;
      font-size: 4em;
      line-height: 1em;
    }

    #play {
      padding-top: 2em;
      padding-bottom: 1em;
    }
  }
}

