---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?urls=http%3A%2F%2Faffinitycycles.com%2Fwp-content%2Fuploads%2F2012%2F12%2FAffinity-Raekwon-Wu-Charity-bike-web-e1355153507540.jpg&key=6302cfbf429e4309b6235dbee0c051a1&maxheight=171&maxwidth=304
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - '0'
      Etag:
      - '"5d867ca8847ac3ee39c966268cc885b8466825dd"'
      X-Embedly-Process-Time:
      - '57'
      X-Embedly-Host:
      - api14
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://affinitycycles.com", "height": 388, "width":
        600, "version": "1.0", "url": "http://affinitycycles.com/wp-content/uploads/2012/12/Affinity-Raekwon-Wu-Charity-bike-web-e1355153507540.jpg",
        "provider_name": "Affinitycycles", "type": "photo"}]'
  recorded_at: Thu, 29 Aug 2013 17:49:53 GMT
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?urls=https%3A%2F%2Fsoundcloud.com%2Fthirdcoast%2Fre-sound-139-the&key=6302cfbf429e4309b6235dbee0c051a1&maxheight=171&maxwidth=304
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - '0'
      Etag:
      - '"d3b5c87d1033cfd8e2d4bc575ad714bca6f8e37b"'
      X-Embedly-Process-Time:
      - '33'
      X-Embedly-Host:
      - api04
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://soundcloud.com", "description": "Listen to
        Re:sound #139 The Metamorphosis Show (originally aired in 2011) by Third Coast
        Festival: This hour: two people shed old skins and resurface in foreign territory.
        Breaking Away by Josh Gleason (Vox Tablet, 2010) Luzer Twersky ... | Explore
        the largest community of artists, bands, podcasters and creators of music
        & audio.", "title": "Re:sound #139 The Metamorphosis Show (originally aired
        in 2011)", "thumbnail_width": 500, "url": "http://soundcloud.com/thirdcoast/re-sound-139-the",
        "thumbnail_url": "http://i1.sndcdn.com/artworks-000059331811-2karm1-t500x500.jpg?3eddc42",
        "version": "1.0", "provider_name": "Soundcloud", "type": "link", "thumbnail_height":
        500}]'
  recorded_at: Mon, 07 Oct 2013 21:38:47 GMT
recorded_with: VCR 2.5.0
